<h2>（管理者）商品情報(アーティスト、レーベル、ジャンル)登録ページ</h2>

<!-- url: の記述いるけど何を書けばいいかよくわからない。
	書かないとartist_pathがない？みたいなエラーでる -->



<!-- adminのItemsControllerのadd_item_infoに新規作成を記述 -->
<!-- 登録するを押したらどこに？adminのArtistsControllerのcreateでよい？ -->




