
<h1>販売商品一覧</h1>

<% @items.each do |item| %>
	<table border="1">
			<tr>
				<td><%= attachment_image_tag item, :item_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
				<td><%= item.item_name %></td>
				<td><%= item.artist.artist_name %></td>
				<td><p>価格（税抜）：</p><%= item.price %></td>
				<td>ハート</td>
			</tr>
	</table>
<% end %>



