<h1>（管理者側）User::Items#search</h1>

<% @items.each do |item| %>
	<div>
		<div>
			<%= attachment_image_tag item, :item_image, :fill, 60, 60, fallback: "no_image.jpg" %>
		</div>
		<div>
			<%= link_to item.item_name, admin_item_path(item.id) %>
			<%= item.artist.artist_name %>
	    </div>
	    <div>
			価格（税抜き）
			¥<%= item.price  %>
	    </div>
	</div>
<% end %>
