
<h1><%= @user.last_name + @user.first_name %>様の登録住所一覧</h1>

<table>
    <thead>
        <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>電話番号</th>
        </tr>
    </thead>
    <tbody>
        <% @user.deliveries.each do |delivery| %>
        <tr>
				<td><%= delivery.delivery_postal_code %></td>
				<td><%= delivery.delivery_address %></td>
    			<td><%= delivery.delivery_phone_number %></td>
    	</tr>
        <% end %>
　　　</tbody>
<table>