// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-items {
	background-color: #eff7ff;
	margin-bottom: 15px;
	padding: 5px;
	position: relative;
}

.admin_item {
	float: left;
	padding: 5px 0;
	position: absolute;
	top: 5px;
}

.admin_item img {
	text-align: center;
}

.text {
	position: absolute;
	top: 15px;
}