// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-items {
	background-color: #eff7ff;
	margin-bottom: 15px;
	padding: 5px;
	position: relative;
}

.admin_item {
	float: left;
	padding: 5px 0;
	position: absolute;
	top: 5px;
}

.admin_item img {
	text-align: center;
}

.text {
	position: absolute;
	top: 15px;
}


.item-new-main{
	padding: 20px 0;
}

.item-new-headline{
	font-size: 16px;
}
.item-new-content{
	width: 400px;
}
.item-new-song{
	width: 85%;
}

.links{
	margin: 7px 0 15px 0;
}

.actions{
	margin-bottom: 50px;
}
.song-delete{
	margin-left: 5px;
}
.disc{
	margin-top: 7px;
}
.item-new-image{
	margin-left: 105px;
}