
<h1 class="completed">退会が完了しました。</h1>
<h3 class="completed_info">当店をご利用いただき、ありがとうございました。</h3>

<h1 class="completed_btn"><%= link_to 'トップページへ戻る', user_items_path, class: "btn btn-default btn-lg" %></h1>