
<h1 class="completed">お問い合わせの送信が完了しました。</h1>
<h3 class="completed_info">弊社から折り返しご連絡を差し上げますので、今しばらくお待ちください。</h3>

<h1 class="completed_btn"><%= link_to 'トップページへ戻る', user_items_path, class: "btn btn-default btn-lg" %></h1>


