// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-users {
	background-color: #eff7ff;
	margin-bottom: 15px;
	padding: 5px;
	position: relative;
}

.admin-user {
	float: left;
	padding: 5px 0;
	position: absolute;
	top: 5px;
}

.user-text {
	position: absolute;
}

.reviewer{
	margin-top: 30px;
	position: relative;
}

.review_name{
	display: inline-block;
	float: left;
}
.review_name_word{
	display: inline-block;
	float: left;
	margin-left: 20px;
	position: absolute;
	top: 11px
}
.review_name{
	display: inline-block;
	margin-bottom: 0;
}
.table table-striped{
	position: relative;
}
.User_reviews_date{
	margin-top: 30px;
	margin-bottom: 0px;
}
.unsubscribe{
	margin-bottom: 20px;
}

