// Place all the styles related to the user/user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reviewer{
	margin-top: 30px;
	position: relative;
}
.review_name{
	display: inline-block;
	float: left;
}
.review_name_word{
	display: inline-block;
	float: left;
	margin-left: 20px;
	position: absolute;
	top: 11px
}
.review_item_name{
	display: inline-block;
}
.table table-striped{
	position: relative;
}
.User_reviews_date{
	margin-top: 30px;
}
